<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mappers.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.food.model.Merchant">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="availability" jdbcType="VARCHAR" property="availability" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="wechat_payment_code_url" jdbcType="VARCHAR" property="wechatPaymentCodeUrl" />
    <result column="wechat_url" jdbcType="VARCHAR" property="wechatUrl" />
    <result column="alipay_url" jdbcType="VARCHAR" property="alipayUrl" />
    <result column="alipay_payment_code_url" jdbcType="VARCHAR" property="alipayPaymentCodeUrl" />
    <result column="bank_card_number" jdbcType="VARCHAR" property="bankCardNumber" />
    <result column="bank_card_name" jdbcType="VARCHAR" property="bankCardName" />
    <result column="bank_card_date" jdbcType="VARCHAR" property="bankCardDate" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, notice, status, address, availability, phone, wechat_payment_code_url, 
    wechat_url, alipay_url, alipay_payment_code_url, bank_card_number, bank_card_name, 
    bank_card_date, username, password, role
  </sql>
  <select id="selectByExample" parameterType="com.food.model.MerchantExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.food.model.MerchantExample">
    delete from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.food.model.Merchant">
    <selectKey  order="BEFORE" keyProperty="id" resultType="int">
      select nextval('merchant_seq')
    </selectKey>
    insert into merchant (id, name, notice, 
      status, address, availability, 
      phone, wechat_payment_code_url, wechat_url, 
      alipay_url, alipay_payment_code_url, bank_card_number, 
      bank_card_name, bank_card_date, username, 
      password, role)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{notice,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{availability,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{wechatPaymentCodeUrl,jdbcType=VARCHAR}, #{wechatUrl,jdbcType=VARCHAR}, 
      #{alipayUrl,jdbcType=VARCHAR}, #{alipayPaymentCodeUrl,jdbcType=VARCHAR}, #{bankCardNumber,jdbcType=VARCHAR}, 
      #{bankCardName,jdbcType=VARCHAR}, #{bankCardDate,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.food.model.Merchant">
    <selectKey  order="BEFORE" keyProperty="id" resultType="int">
      select nextval('merchant_seq')
    </selectKey>
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="notice != null">
        notice,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="availability != null">
        availability,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="wechatPaymentCodeUrl != null">
        wechat_payment_code_url,
      </if>
      <if test="wechatUrl != null">
        wechat_url,
      </if>
      <if test="alipayUrl != null">
        alipay_url,
      </if>
      <if test="alipayPaymentCodeUrl != null">
        alipay_payment_code_url,
      </if>
      <if test="bankCardNumber != null">
        bank_card_number,
      </if>
      <if test="bankCardName != null">
        bank_card_name,
      </if>
      <if test="bankCardDate != null">
        bank_card_date,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="role != null">
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        #{notice,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="availability != null">
        #{availability,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechatPaymentCodeUrl != null">
        #{wechatPaymentCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="wechatUrl != null">
        #{wechatUrl,jdbcType=VARCHAR},
      </if>
      <if test="alipayUrl != null">
        #{alipayUrl,jdbcType=VARCHAR},
      </if>
      <if test="alipayPaymentCodeUrl != null">
        #{alipayPaymentCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNumber != null">
        #{bankCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankCardName != null">
        #{bankCardName,jdbcType=VARCHAR},
      </if>
      <if test="bankCardDate != null">
        #{bankCardDate,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.food.model.MerchantExample" resultType="java.lang.Long">
    select count(*) from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update merchant
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.notice != null">
        notice = #{record.notice,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.availability != null">
        availability = #{record.availability,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatPaymentCodeUrl != null">
        wechat_payment_code_url = #{record.wechatPaymentCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatUrl != null">
        wechat_url = #{record.wechatUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.alipayUrl != null">
        alipay_url = #{record.alipayUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.alipayPaymentCodeUrl != null">
        alipay_payment_code_url = #{record.alipayPaymentCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardNumber != null">
        bank_card_number = #{record.bankCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardName != null">
        bank_card_name = #{record.bankCardName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardDate != null">
        bank_card_date = #{record.bankCardDate,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.role != null">
        role = #{record.role,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update merchant
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      notice = #{record.notice,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      availability = #{record.availability,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      wechat_payment_code_url = #{record.wechatPaymentCodeUrl,jdbcType=VARCHAR},
      wechat_url = #{record.wechatUrl,jdbcType=VARCHAR},
      alipay_url = #{record.alipayUrl,jdbcType=VARCHAR},
      alipay_payment_code_url = #{record.alipayPaymentCodeUrl,jdbcType=VARCHAR},
      bank_card_number = #{record.bankCardNumber,jdbcType=VARCHAR},
      bank_card_name = #{record.bankCardName,jdbcType=VARCHAR},
      bank_card_date = #{record.bankCardDate,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      role = #{record.role,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.food.model.Merchant">
    update merchant
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        notice = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="availability != null">
        availability = #{availability,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechatPaymentCodeUrl != null">
        wechat_payment_code_url = #{wechatPaymentCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="wechatUrl != null">
        wechat_url = #{wechatUrl,jdbcType=VARCHAR},
      </if>
      <if test="alipayUrl != null">
        alipay_url = #{alipayUrl,jdbcType=VARCHAR},
      </if>
      <if test="alipayPaymentCodeUrl != null">
        alipay_payment_code_url = #{alipayPaymentCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNumber != null">
        bank_card_number = #{bankCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankCardName != null">
        bank_card_name = #{bankCardName,jdbcType=VARCHAR},
      </if>
      <if test="bankCardDate != null">
        bank_card_date = #{bankCardDate,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.food.model.Merchant">
    update merchant
    set name = #{name,jdbcType=VARCHAR},
      notice = #{notice,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      availability = #{availability,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      wechat_payment_code_url = #{wechatPaymentCodeUrl,jdbcType=VARCHAR},
      wechat_url = #{wechatUrl,jdbcType=VARCHAR},
      alipay_url = #{alipayUrl,jdbcType=VARCHAR},
      alipay_payment_code_url = #{alipayPaymentCodeUrl,jdbcType=VARCHAR},
      bank_card_number = #{bankCardNumber,jdbcType=VARCHAR},
      bank_card_name = #{bankCardName,jdbcType=VARCHAR},
      bank_card_date = #{bankCardDate,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>